{% extends "InstinctUserBundle::layout.html.twig" %}

{% block title %}{{ 'title.security.login'|trans({}, 'InstinctUserBundle') }} - {{ parent() }}{% endblock %}

{% block fos_user_content %}
{% if error %}
    <div class="flash-authentication_error">{{ error|trans([], 'FOSUserBundle') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
  <fieldset>
    <legend>{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</legend>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
    <input type="password" id="password" name="_password" />

    <label class="checkbox" for="remember_me">
        {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
        <input type="checkbox" id="remember_me" name="_remember_me" checked />
    </label>
    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
  </fieldset>
</form>
{% endblock fos_user_content %}
