{% extends 'InstinctUserBundle::layout.html.twig' %}

{% block title %}
{{ "title.admin.index"|trans({}, 'InstinctUserBundle') }} - {{ parent() }}
{% endblock %}

{% block container %}
    {% if users is defined %}
        <table>
          <thead>
              <tr>
                <th>{{ "profile.show.username"|trans({}, 'FOSUserBundle') }}</th>
                <th>{{ "profile.edit.submit"|trans({}, 'FOSUserBundle') }}</th>
              </tr>
          </thead>
          <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>
                        <a href="{{ path('instinct_user_admin_edit', {'user': user.id} ) }}">
                            [+]
                        </a>
                    </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    {% endif %}
{% endblock %}
