{% extends 'InstinctUserBundle:Admin:layout.html.twig' %}


{% block fos_user_content %}
<h1>Group</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{ group.name }}</td>
        </tr>
        <tr>
            <th>Roles</th>
            <td>
                <ul>
                {% for role in group.roles %}
                    <li>
                        {{ role }}
                    </li>
                {% endfor %}
                </ul>
             </td>
        </tr>
        <tr>
            <th>Id</th>
            <td>{{ group.id }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('instinct_user_admin_group_index') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('instinct_user_admin_group_edit', { 'id': group.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('instinct_user_admin_group_delete', { 'id': group.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

{% endblock %}