{% extends 'InstinctUserBundle:Admin:layout.html.twig' %}

{% block section %}
<h1>User edit</h1>
<nav>
<ul class="record_actions">
    <li>
        <a href="{{ path('instinct_user_admin_user_index') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('instinct_user_admin_user_delete', { 'user': user.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
</nav>
{{ parent() }}
{% endblock %}

{% block fos_user_content %}
<form action="{{ path('instinct_user_admin_user_update', { 'user': user.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>
{% endblock %}