{% extends 'InstinctUserBundle:Admin:layout.html.twig' %}


{% block fos_user_content %}
<h1>Role list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for role in roles %}
        <tr>
            <td><a href="{{ path('instinct_user_admin_role_show', { 'role': role.id }) }}">{{ role.name }}</a></td>
            <td>
                <ul>
                {% for role in role.roles %}
                    <li>
                        {{ role }}
                    </li>
                {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('instinct_user_admin_role_show', { 'role': role.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('instinct_user_admin_role_edit', { 'role': role.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('instinct_user_admin_role_new') }}">
            Create a new entry
        </a>
    </li>
</ul>

{% endblock %}