{% extends "InstinctMenuBundle::layout.html.twig" %}

{% block instinct_menu_content %}
<h1>Entry edit</h1>

<nav>
<ul class="record_actions">
    <li>
        <a href="{{ path('instinct_menu_admin_home') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('instinct_menu_admin_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
</nav>
<form action="{{ path('instinct_menu_admin_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>
{% endblock %}