{% extends "InstinctNewsBundle::layout.html.twig" %}

{% block instinct_news_content %}
    {% for entity in entities %}
    <article>
        <header>
            <nav>
                <ul>
                    <li>
                    {% if page_prev > 0 %}
                        <a class="prev" href="{{ path('instinct_news_home', {'page': page_prev}) }}"></a>
                    {% else %}
                        <span class="prev invisible"/>
                    {% endif %}
                    </li>
                    {% if page_next <= nb_pages %}
                        <a class="next" href="{{ path('instinct_news_home', {'page': page_next}) }}"></a>
                    {% else %}
                        <span class="next invisible"/>
                    {% endif %}
                    </li>
                </ul>
            </nav>
            <h1>
                <a href="{{ path('instinct_news_show', { 'id': entity.id }) }}">
                    {{ entity.title }}
                </a>
            </h1>
            <p>
                <em>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</em>
                {{ entity.autor }}
            </p>
        </header>
        <div>
            {{ entity.content|bbcode_filter('my_default_filter') }}
        </div>
    </article>
    {% endfor %}
{% endblock %}

